body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* layout */

.hero {
    text-align: center;
    background-color: rgb(31 41 55);
    padding: 20px 0;
}

.full-bg {
    box-shadow: 0 0 0 100vmax rgb(31 41 55);
    clip-path: inset(0 -100vmax);
    margin-bottom: 40px;
}


img {
    max-width: 320px;
    height: 100%;
    object-fit: cover;
}


.cta-btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.list-jobs {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid darkgray;
}


.hero-text {
    margin: 20px 0;
    color: white;
    font-size: 24px;
    padding: 0 150px;
}

.hero-text h3 {
    font-size: 32px;
    font-weight: bolder;
}

.hero-text p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.footer {
    background-color: rgb(31 41 55);
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: rgb(31 41 55);
}

.navbar a {
    color: white;
}

/* Typography */

.hero h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}


h2 {
    margin-top: 80px;
}


h1,
h2 {
    text-align: center;
    font-weight: 500;
}

h3,
h4 {
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: 900;
}

