<!DOCTYPE html>
<html>
    <head>
        <title>Jovian</title>
        <link rel="icon" type="image/x-icon" href="/static/images/jovian-icon.png">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-md">
            <div class="full-bg">
                {% include 'nav.html' %}
            </div>
            <div class="full-bg">
                <div class="hero">
                    <h4>Data scientist</h4>
                    <p>Bengaluru, India</p>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Apply</a>
                </div>
            </div>
            <div>
                <a href="/">back to jobs</a>
            </div>
                <div>
                    <div>
                        <h5>Requirements</h5>
                        <div>
                            <ul>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h5>Responsibilities</h5>
                        <div>
                            <ul>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fill-details shadow p-3 mb-5 bg-body rounded">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter first name">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter last name">
                      </div>
                      <div class="mb-3">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Enter email">
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">Resume</label>
                        <input class="btn btn-outline-light" type="file" id="myFile" name="filename">
                      </div>
                      <input class="btn btn-outline-primary" type="submit" name="Submit" value="Submit">
                </div>
            <div>
                {% include 'footer.html' %}
            </div>
        </div>
    </body>
</html>


