<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/images/jovian-icon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Jovian Careers
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://jovian.ai/" target="_blank">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jovian.ai/learn" target="_blank">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jovian.ai/events" target="_blank">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
    </ul>
  </div>
</nav>